<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 card-component">
            <div class="card consultation-card shadow-md h-100">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 card-component">
            <div class="card training-card shadow-md h-100">
                <div class="card-body">
                    <h2 class="card-title">
                        <mat-icon aria-hidden="false" aria-label="Event Icon">event</mat-icon> Training Events
                    </h2>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <div class="card-text">
                        <h4><span class="card-heading">Total Trainings:</span> {{ totalTrainings }}</h4>
                        <h4><span class="card-heading">No. Of People Trained:</span>
                            {{ totalTrainingPaxLastYear }}</h4>
                        <h4><span class="card-heading">Total People Trained:</span> {{ totalTrainingPax }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 card-component">
            <div class="card budget-card shadow-md h-100">
                <div class="card-body">
                    <h2 class="card-title">
                        <mat-icon aria-hidden="false" aria-label="Paid Icon">paid</mat-icon> Expenditure (In Lks)
                    </h2>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <div class="card-text">
                        <h4><span class="card-heading">Total Budget Allocation:</span> {{ totalBudget }}</h4>
                        <h4><span class="card-heading">Total District Expense:</span> {{ totalExpense }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 card-component">
            <div class="card extra-card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
