.card {
    border-radius: 5px;
    box-shadow: 0 1px 2.94px 0.06px rgb(4 26 55 / 16%);
    margin: 3rem 0px 10px 0px;
}

.card-title {
    font-size: 15px;
}

::ng-deep .new-card {
    border-radius: 5px !important;
    box-shadow: 0 1px 2.94px 0.06px rgb(4 26 55 / 16%) !important;
    margin: 3rem 0px 10px 0px !important;
}
