<div class="container">
    <div class="row graph-deck">
        <div class="col-xs-12 col-sm-12 col-md-12 graph-component">
            <mat-card class="h-100">
                <div id="training1"></div>
            </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 graph-component">
            <mat-card class="h-100">
                <div id="training2"></div>
            </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 graph-component">
            <mat-card class="h-100">
                <div id="districtExpense2"></div>
            </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 graph-component">
            <mat-card class="h-100">
                <div id="districtExpense1"></div>
            </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 graph-component">
            <mat-card class="h-100">
                <div id="districtMNS1"></div>
            </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 graph-component">
            <mat-card class="h-100">
                <div id="districtMNS2"></div>
            </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 graph-component">
            <mat-card class="h-100">
                <div id="MNSAllocation1"></div>
            </mat-card>
        </div>
    </div>
</div>
